#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .accordion-body {
  background-color: #1b1b1b !important;
  color: white !important;
}

html {
  overflow-y: scroll;
}

.rainbow-text {
  font-weight: 800;
  font-size: 1.4rem;

  background: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffee00,
    #33cc33,
    #00ccff,
    #3333ff,
    #cc33ff,
    #ff0000
  );

  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: rainbowShift 6s ease infinite;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-cat {
  width: 36px;
  height: 36px;
  object-fit: contain;
  flex-shrink: 0; /* prevents squishing */
}

